myenv/
.venv
.idea/*
**/__pycache__
**/__pycache__/*
**/*.joblib
**/.DS_Store
*.DS_Store
**/models/*
**/target/*
**/local-setup/*.log
**/proto/*.py
**/config/machine-config.txt
code/libs/ping/pinglib.egg-info/*
code/libs/commonidentity/commonidentity.egg-info/*
code/libs/commonidentity/build/*
code/libs/ping/build/*
code/tests/laad.py
code/.coverage
code/coverage.xml
.scannerwork
pyvenv.cfg
lib
/bin

